@import url('/style.css');

table {
    margin: 0 auto;
    width: 60%;
}

#effect {
    vertical-align: top;
    line-height: 90px;
    font-size: 25px;
    text-align: left;
    width: 75%;
}

#effect span#result {
    font-weight: 600;
}
