@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
}

.app-header {
    background-color: dimgray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    display: flex;
    justify-content: space-between; /* Rozsuwa h2 w lewo, nav w prawo */
    align-items: center; /* Wyrównuje h2 i nav w pionie */
    padding: 0 20px;
}
.app-header nav button {
    background-color: transparent; /* Przezroczyste tło */
    color: #fff; /* Biały napis */
    border: 1px solid #fff; /* Cienka biała ramka */
    padding: 8px 16px; /* Odstępy wewnątrz */
    cursor: pointer; /* Kursor łapki */
    border-radius: 4px; /* Zaokrąglone rogi */
    font-size: 0.9rem;
    transition: background 0.3s; /* Płynne przejście przy najechaniu */
}

.app-header nav button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Delikatne podświetlenie po najechaniu */
}
.app-header nav a {
    text-decoration: none;
}
